<html>
  <head>
    <Title>
      Database | Update
    </Title>
  </head>

  <body>
    <form method="POST" action="/database/create">

        <label for="name">
          Username
        </label>
        <br>
        <input type="text" name="username" placeholder="Username">
        <br>
  
        <label for="password">
          Password
        </label>
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
  
        <button type="submit">
          Submit
        </button>
      </form>
  </body>
</html>