<html>
    <head>
        <title>Database | <%= article2.title %></title>
    </head>
    <body>
        <div>
            <h1><%= article2.username %></h1>
            <p><%= article2.password %></p>
        </div>
        
        <br>

        <a href="/database">Back</a>
    </body>
</html>