<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Mini Challenge Part 2</h1>
        <a href="/database/create">Ayo Mulai Kelola Database :D</a>
    </body>
</html>